.accordion {
    border-bottom: 2px solid currentColor;
}

.accordion__header {
    padding: 2rem 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.accordion__headerIcon {
    flex-shrink: 0;
    width: 2.4rem;
    margin-left: 2rem;
    transition: 0.35s ease-out;
}

.accordion__header::marker,
.accordion__header::-webkit-details-marker {
    display:none;
  }

.accordion__panel {
    padding: 0.8rem 0 3.2rem;
}

.accordion[open] .accordion__headerIcon {
    transform: rotate(0.5turn);
}